

//== Equipes Section ::::
.moduleEquipes-1{
    .title{
        text-align: left;
    }
    .subtitle{
        text-align: left;
    }
    .loop-equipes{
        border-top: 2px solid #59B98A;
        padding-top: 80px;
        .user-one{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 50px;
            &:nth-child(even){
                flex-direction: row-reverse;
                .box-thumb{
                    .rectangle{    
                        transform: skewY(-5deg);  
                        background: #379FDD;
                        @include respond-to-min(750){
                            transform: skewY(0); 
                        }
                    }
                }
                
                .text-column{
                    @include respond-to-min(950){
                        padding-right: 20px;
                    }
                }
            }
            .box-thumb{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                position: relative;
                align-items: center;

                flex-direction: column;
                @include respond-to-min(950){
                    width: 70%;
                    flex-direction: row;
                    align-items: flex-end;
                }
                .text-box,
                img{
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    margin-top: 10px;
                }
                .text-box{
                    padding: 30px 40px 0;

                    @include respond-to-min(950){
                        padding: 40px;
                    }
                    h5,
                    h2{
                        color: #fff;
                        margin: 0;
                    }
                    h5{

                        font-family: 'Roboto Condensed';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 3px;
                        text-align: left;
                        text-transform: uppercase;

                    }
                    h2{
                        font-family: 'Poppins';
                        font-size: 40px;
                        line-height: 48px;
                        letter-spacing: 0px;
                        text-align: left;
                        text-transform: uppercase;

                    }
                }
                .rectangle{
                    width: calc(100% + 40px);
                    height: 80%;                
                    background: #59B98A;
                    position: absolute;
                    left: 0;
                    z-index: 0;
                    margin-left: -20px;
                    margin-right: -20px;

                    transform: skewY(5deg);
                    top: 0;
                    bottom: auto;
                    @include respond-to-min(750){
                        transform: skewY(0);
                    }
                    @include respond-to-min(950){
                        width: 100%;
                        margin-left: 0;
                        margin-right: 0;
                        bottom: 0;
                        top: auto;
                        height: calc(100% - 95px);  
                    }
                }
            }
            .text-column{
                width: 100%;
                padding-top: 35px;
                @include respond-to-min(950){
                    width: 30%;
                    padding-top: 90px;
                    padding-left: 20px;
                }
            }
        }
    }
    .btn-box{
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #59B98A;
        padding-bottom: 80px;
    }
}
//========== /Equipes Section