
//== Faq Section ::::
.moduleFaq {
    background: #fff;
    padding-bottom: 80px;
    .box-cont{
        border-bottom: 2px solid $green;
        padding-bottom: 50px;
    }

    .title {
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 60px;
    }
    
    .accordion{
        width: 100%;
        max-width: 970px;
        margin: auto;
        .acc-heading{
            align-items: center;
            //background: #FFFFFF;
            background: #F8F8FC;
            //box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 30px;
            //padding: 40px;
            padding: 0;
            border: none;
            display: block;
            transition: all .2s ease-in-out;
            border: 1px solid #E1E4E8;
            cursor: default;
            display: block;
            padding: 11px 22px;
            .header-acc{
                font-family: 'Lato';
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 22px;
                /* identical to box height */


                /* CTA & Texto */

                color: #202020;
                transition: all .2s ease-in-out;
                padding: 25px 30px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                align-items: center;
            }
            svg{
                transition: all .2s ease-in-out;
            }
            &.active{
                //box-shadow: 0px 15px 60px rgba(0, 109, 174, 0.1);
                background: #fff;
                margin-bottom: 35px;
                svg{
                    transform: rotate(180deg);
                }
                .header-acc{
                    padding: 35px 30px;
                }
            }
            .acc-content{
                .inner{
                    padding: 0;
                    padding: 20px 30px;
                    border-top: 1px solid #F6F4F3;
                    p{
                        margin: 0;
                        
                        cursor: auto;
                        font-family: Lato;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 22px;
                        /* or 157% */


                        /* Complementary text */

                        color: #828687;
                        letter-spacing: 0em;
                        text-align: left;

                    }
                }
            }

        }
        .acc-content,
        .acc-content2{
            margin: 0;
            overflow: hidden;
            transition: all 0.3s;
            .inner{
                padding: 0 22px 22px;
            }
        }
    }

    .btn-box{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            margin-top: 30px;
        }
    }
}
//========== /Faq Section