

//== Reviews Section ::::
.moduleReviews-1 {
    .title {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 41px;
            height: 35px;
            top: -40px;
            margin: 0 auto;
            left: 0;
            right: 0;
            background: url(../img/icon-review.png) no-repeat top center;
        }

        h2 {
            color: $blue;
            margin-bottom: 15px;
        }

        h4 {
            color: $blue;
        }
    }

    .slide-review {
        width: 100%;
        max-width: 630px;
        height: auto;
        margin: 0 auto;
        padding-top: 25px;
        position: relative;

        article {
            width: 100%;
            max-width: 630px;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;

            p {
                font-size: 18px;
                text-align: center;
                line-height: 25px;
                font-style: italic;
            }

            .profile-box {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-items: center;
                align-items: center;
                margin: 10px 0;

                img {
                    width: 100%;
                }
            }

            label {
                text-align: center;
                color: $blue;
                opacity: 0.8;
                font-weight: bold;
                margin-top: 10px;
                line-height: 25px;
            }

            .upwork-logo {
                margin-top: 15px;
            }

        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        .swiper-pagination {
            top: 0;

            .swiper-pagination-bullet {
                background: #ccc;
                opacity: 1;
                margin: 0 6px;
            }

            .swiper-pagination-bullet-active {
                background: $lightblue;
                box-shadow: 0 0 0 3px rgba($lightblue, 0.4);
            }
        }
    }
}

.moduleReviews-2 {
    background: #379FDD;
    position: relative;
    .mask{
        width: 100%;
        height: 246px;
        position: absolute;
        background: #fff;
        bottom: 0;
        left: 0;
    }
    .text-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include respond-to-min(750){
            width: 30%;
        }
        h1{
            color: #fff;
            margin-top: 0;
        }
        p{
            color: #fff;
            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 3px;
            text-align: left;
            text-transform: uppercase;
        }
        .box-btn-glider{
            display: flex;
            height: 100%;
            align-items: flex-end;
            justify-content: flex-end;
            @include respond-to-min(750){
                justify-content: flex-start;
            }
            .glider-prev,
            .glider-next{
                left: auto;
                right: auto;
            }
            .glider-prev{
                margin-right: 5px;
            }
        }

    }
    .slider-box{
        width: 100%;
        @include respond-to-min(750){
            width: 70%;
        }
        .item-box{
            width: auto;
            background: #E8F5FD;
            padding: 45px;
            border-radius: 3px;
            margin-left: 20px;
            .header{
                width: 100%;
                display: flex;
                .thumb-wrap{
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    border-radius: 50px;
                    img{
                        width: 100%;
                    }
                }
                .text-header{
                    padding-left: 25px;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    margin-bottom: 40px;
                    h4{
                        font-family: Roboto Condensed;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px;
                        letter-spacing: 0px;
                        text-align: left;
                        text-transform: uppercase;
                        margin: 0;
                        padding: 0;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                        font-family: DM Sans;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: 0px;
                        text-align: left;
                        text-transform: uppercase;
                    }

                }
            }
            .content-box{
                width: 100%;
                p{
                    font-family: DM Sans;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    letter-spacing: 0px;
                    text-align: left;
                    margin: 0;
                }
            }
        }
    }
}
//========== /Reviews Section