

//== Text Box Section ::::
.moduleText-box-1 {
    @include respond-to-max(700) {
        padding-bottom: 50px;
    }

    .grid {
        .col45 {
            padding-left: 0;
            color: $blue;

            @include respond-to-max(700) {
                padding-bottom: 0;
            }

            h2 {
                color: $blue;

                @include respond-to-max(700) {
                    font-size: 1.6em;
                }
            }

            p {
                @include respond-to-max(700) {
                    font-size: 14px;
                    line-height: 25px;
                }
            }

            h4 {
                color: $blue;

                @include respond-to-max(700) {
                    font-size: 1em;
                }
            }
        }

        .col55 {
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;

            .mini-block {
                width: 47%;
                padding: 0 10px;

                @include respond-to-max(700) {
                    width: 100%;
                    display: none;
                }

                .title {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    h4 {
                        color: $blue;
                        flex: 1;
                        font-size: 1.1em;
                    }
                }

                .text {
                    width: 100%;
                    height: auto;

                    p {
                        @include respond-to-max(700) {
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
}
//========== /Text Box Section