.moduleFeature-1 {
    z-index: 2;
    .wrap{
        position: relative;
    }
    .float6{
        position: absolute;
        left: -262px;
        top: 17px;
    }
}
//== Feature Section ::::
.moduleFeature-2 {
    z-index: 1;

    .wrap{
        position: relative;
    }
    
    .float3{
        position: absolute;
        right: 163px;
        bottom: -188px;
    }
    
    .float4{
        position: absolute;
        left: -62px;
        bottom: 17px;
    }
    
    .float5{
        position: absolute;
        right: -62px;
        top: 17px;
    }
    .box-cont{
        //padding-top: 80px;
        //padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
    }
    .img-box{
        width: 100%;
        order: 1;
        padding-bottom: 40px;
        @include respond-to-min(750){
            width: 40%;
            order: 1;
            padding-bottom: 0;
        }
    }
    .text-box{
        width: 100%;
        order: 2;
        //margin-bottom: 40px;
        @include respond-to-min(750){
            width: 60%;
            padding: 0 70px;
            order: 2;
            margin-bottom: 0;
        }
        h2{
            margin-top: 0;
            font-size: 35px;
            line-height: 45px;
            display: inline-block;
            letter-spacing: 0.025em;
            text-align: left;
            margin-bottom: 20px;
            @include respond-to-min(750){
                font-size: 53px;
                line-height: 53px;
            }
        }
        h3{
            font-size: 17px;
            line-height: 25px;
            text-align: left;
            letter-spacing: 0.025em;
            margin: 0;
            margin-bottom: 20px;
            color: $azul-fin;
            @include respond-to-min(750){
                font-size: 20px;
                line-height: 27px;
            }
        }
        p{
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-align: left;
            /* or 187% */
        }
        blockquote{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 28px;
            /* or 150% */

            font-style: italic;
            position: relative;
            margin-top: 80px;
            margin-bottom: 50px;
            &:after, &:before{
                content: "";
                position: absolute;
                width: 40px;
                height: 44px;
            }
            &:before{
                background: url(../img/quote-top.png) no-repeat;
                background-size: cover;
                left: -55px;
                top: -35px;
            }
            &:after{
                background: url(../img/quote-top.png) no-repeat;
                background-size: cover;
                right: -26px;
                bottom: -35px;
            }
            @include respond-to-min(750){
                margin-top: 50px;
                font-size: 20px;
                line-height: 30px;
                &:after{
                    right: 10px;
                }
            }
        }
    }
    .wrapper-video{
        width: 100%;
        position: relative;
        .placeholder{
            width: 100%;
        }
        .cta-videoAbout{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            svg{
                width: 120px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                path{
                    fill: #fff;
                }
            }
        }
        .ovals-shape{
            position: absolute;
            bottom: -100px;
            left: -100px;
            z-index: -1;
        }
    }
}
//========== /Feature Section